<!-- item-form.component.html -->
<h3 class="m-4">Role management </h3>
<!-- debug: {{ fg.value | json }} -->
<hr />
<div class="d-flex justify-content-center">
  <form class="w-50 needs-validation" [formGroup]="fg" (ngSubmit)="onSubmit()">
    <div>
      <label class="form-label" for="username">username</label>
      <input
        class="form-control"
        [class.is-invalid]="username.errors && username.touched"
        formControlName="username"
        id="username"
        type="text"
        readonly
      />
      <div class="invalid-feedback">
        username is required.
      </div>
    </div>
    <div class="mt-3">
      {{ role.errors | json }}
      <label class="form-label" for="role">role</label>
      <input
        class="form-control"
        [class.is-invalid]="role.errors && role.touched"
        formControlName="role"
        id="role"
        type="string"
      />
    </div>


    <div class="mt-3">
      <label class="form-label" for="owner"> displayname</label>
      <input
        class="form-control bg-light"
        formControlName="displayname"
        id="displayname"
        type="string"
      />
    </div>


    <div class="mt-3 d-flex justify-content-between">
      <button class="btn btn-secondary" (click)="onBack()" type="button">
        Back
      </button>
      <button [disabled]="!fg.valid" class="btn btn-primary" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
