<div class="modal fade show" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-dialog-centered custom-modal-size">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="large-text">{{ title }}</p>
        <button type="button" class="btn btn-danger btn-lg custom-btn me-3" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-secondary btn-lg custom-btn" (click)="decline()">No</button>
      </div>
    </div>
  </div>
</div>